@charset "UTF-8";

body {
    background-color: rgb(53, 206, 253);
    font: normal 15pt Arial;
}

header {
    color: rgb(255, 255, 255);
    text-align: center;
}

section {
    background-color: rgba(255, 255, 255, 0.781);
    width: 500px;
    padding: 15px;
    border-radius: 14px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.336);
}

#selnumeros {
    width: 190px;
}

#rein {
    display: none;
}

footer {
    color: rgb(255, 255, 255);
    text-align: center;
    font-style: italic;
}